In [1]:
import pandas as pd

In [2]:
!pip install elasticsearch

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: elasticsearch in /home/sylvia/.local/lib/python3.10/site-packages (8.10.1)
Requirement already satisfied: elastic-transport<9,>=8 in /home/sylvia/.local/lib/python3.10/site-packages (from elasticsearch) (8.12.0)
Requirement already satisfied: urllib3<3,>=1.26.2 in /home/sylvia/.local/lib/python3.10/site-packages (from elastic-transport<9,>=8->elasticsearch) (1.26.15)
Requirement already satisfied: certifi in /home/sylvia/.local/lib/python3.10/site-packages (from elastic-transport<9,>=8->elasticsearch) (2023.5.7)
DEPRECATION: distro-info 1.1build1 has a non-standard version number. pip 24.0 will enforce this behaviour change. A possible replacement is to upgrade to a newer version of distro-info or contact the author to suggest that they release a version with a conforming version number. Discussion can be found at https://github.com/pypa/pip/issues/12063

[notice] A new release of pip is available: 23.3.2 -> 24.0
[notice] To update, run: python3 -m pip install --upgrade pip

In [3]:
from __future__ import unicode_literals
from elasticsearch import Elasticsearch

import json

def get_elastic():
    return Elasticsearch(
        [{'host': 'localhost', 'port': 9200, 'scheme': 'http'}], 
        timeout=30, 
        max_retries=1, 
        retry_on_timeout=False
        )

# logger = logging.getLogger(__name__)
# logging.basicConfig(level=logging.INFO)

def query_search(q_dic, index_name, n_search=1000, elastic=None):
    '''
    q_dic: query dictionary in Elastic format ready to search 
    index_name: index in Elastic where to search
    '''
    if elastic is None:
        elastic = get_elastic()
    #body = json.dumps(q_dic, ensure_ascii=False)
    search_result = elastic.search(index=index_name, body=q_dic, size=n_search, from_=0)

    return search_result

def result2list_unique(result_dict, field):
    lst = []
    if result_dict['hits']['total']['value'] > 0:
        for hit in result_dict['hits']['hits']:
            if hit['_source'][field] not in lst: 
                lst.append(hit['_source'][field])
    return lst

def result2list_(result_dict, field):
    lst = []
    if result_dict['hits']['total']['value'] > 0:
        for hit in result_dict['hits']['hits']:
            lst.append(hit['_source'][field])
    return lst


def get_umls2sab_query(source_id, target_sab, lang):
    '''
    source_id: UMLS ID (CUI) to search
    target_sab: ontology mapped to this ID
    '''
    q_dic = {
        "query": { 
            "bool": { 
            "must": [
                {"match": {"CODE": source_id}},
                {"match": {"SAB": target_sab}}, 
                {"match": {"LAT": lang}}
                ]
                    }
                }
            }
    return q_dic

def query_and_search(code, index): 
    result_list = []
    q_dic = get_umls2sab_query(code, 'SCTSPA', 'SPA')
    result = query_search(q_dic, index)
    if result['hits']['total']['value'] > 0:
        for hit in result['hits']['hits']: 
            result_list.append(hit['_source'])

    return result_list

def get_umlstext_query(term, index, lang):
    '''
    source_id: UMLS ID (CUI) to search
    target_sab: ontology mapped to this ID
    '''
    q_dic = {
        "query": { 
            "bool": { 
            "must": [
                {"match": {
                  "STR": term
                }}, 
                {"match": {"LAT": lang}}
                ]
                    }
                }
            }
    return q_dic

def query_and_search_text(term, index): 
    result_list = []
    q_dic = get_umlstext_query(term, 'UMLS', 'ENG')
    result = query_search(q_dic, index)
    if result['hits']['total']['value'] > 0:
        for hit in result['hits']['hits']: 
            result_list.append(hit['_source'])

    return result_list

In [18]:
import pandas as pd

df_terms = pd.read_csv("../all_matches_medmentions.tsv", sep='\t', header=0)

In [19]:
df_terms.head(50)

,filename,term,start,end,normalized_term
0,25847295_0,Nonylphenol diethoxylate,0,24,Nonylphenol diethoxylate
1,25847295_0,Nonylphenol diethoxylate,370,394,Nonylphenol diethoxylate
2,25847295_0,apoptosis,34,43,Apoptosis
3,25847295_0,apoptosis,259,268,Apoptosis
4,25847295_0,apoptosis,437,446,Apoptosis
5,25847295_0,PC12 cells,55,65,PC12 Cell Line
6,25847295_0,aquatic environment,148,167,Aquatic Environment
7,25847295_0,wastewater contaminants,171,194,Wastewater Contaminants
8,25847295_0,toxic effects,206,219,Toxic Effects
9,25847295_0,aquatic species,223,238,Aquatic Organisms
10,25847295_0,serum deprivation,301,318,Serum Deprivation
11,25847295_0,serum deprivation,458,475,Serum Deprivation
12,25847295_0,copper treatment,322,338,Copper Compounds
13,25847295_1216,structure,18,27,Molecular structure
14,25847295_1216,compounds,39,48,Chemical compound
15,25847295_1216,phenomenon,92,102,Biological phenomenon
16,25847295_1216,cell differentiation,183,203,Cell differentiation
17,25847295_1216,development,208,219,Development
18,25847295_1216,apoptosis,304,313,Apoptosis
19,25847295_1216,nonylphenol diethoxylate,133,157,Nonylphenol diethoxylate
20,25847295_1216,organisms,258,267,Organism
21,25847295_1216,impact,294,300,Effect
22,25847295_1216,potentially harmful effect,228,254,Adverse effect
23,25847295_514,apoptosis,85,94,Apoptosis
24,25847295_514,apoptosis,172,181,Apoptosis
25,25847295_514,apoptosis,598,607,Apoptosis
26,25847295_514,apoptosis,662,671,Apoptosis
27,25847295_514,PC12 cells,185,195,PC12 Cells
28,25847295_514,PC12 cells,252,262,PC12 Cells
29,25847295_514,PC12 cells,611,621,PC12 Cells
30,25847295_514,cytochrome c,306,318,Cytochrome c
31,25847295_514,Bax,451,454,Bcl-2 Protein Bax
32,25847295_514,nonylphenol diethoxylate,0,24,Nonylphenol Diethoxylate
33,25847295_514,nonylphenol diethoxylate,109,133,Nonylphenol Diethoxylate
34,25847295_514,nonylphenol diethoxylate,268,292,Nonylphenol Diethoxylate
35,25847295_514,nonylphenol diethoxylate,410,434,Nonylphenol Diethoxylate
36,25847295_514,nonylphenol diethoxylate,514,538,Nonylphenol Diethoxylate
37,25847295_514,nonylphenol diethoxylate,546,570,Nonylphenol Diethoxylate
38,25847295_514,toxicity,42,50,Toxicity
39,25847295_514,cell viability,65,79,Cell Viability
40,25847295_514,DNA fragmentation,144,161,DNA Fragmentation
41,26876532_0,EZH2,0,4,Enhancer of zeste 2 polycomb repressive comple...
42,26876532_0,EZH2,259,263,Enhancer of zeste 2 polycomb repressive comple...
43,26876532_0,ZFX,9,12,Zinc finger protein X
44,26876532_0,ZFX,268,271,Zinc finger protein X
45,26876532_0,MEN1,129,133,Multiple endocrine neoplasia type 1
46,26876532_0,CTNNB1,135,141,Catenin beta-1
47,26876532_0,CDKIs,143,148,Cyclin-dependent kinase inhibitors
48,26876532_0,parathyroid adenoma,164,183,Parathyroid gland neoplasm
49,26876532_0,parathyroid adenoma,308,327,Parathyroid gland neoplasm

In [34]:
#df_terms[df_terms['normalized_term'].isnull()]['normalized_term'] = df_terms[df_terms['normalized_term'].isnull()]['term']

df_terms[df_terms['normalized_term'].isnull()]

,filename,term,start,end,normalized_term,mark,label,semantic_rel,off0,off1,span,code
2721,27349182_712,VO group,152,160,NaN,T1,ENFERMEDAD,EXACT,152,160,VO group,
2722,27349182_712,VO group,201,209,NaN,T1,ENFERMEDAD,EXACT,201,209,VO group,
2723,27349182_712,PF group,186,194,NaN,T1,ENFERMEDAD,EXACT,186,194,PF group,
23814,28179911_1245,G5,120,122,NaN,T1,ENFERMEDAD,EXACT,120,122,G5,
23815,28179911_1245,G2,127,129,NaN,T1,ENFERMEDAD,EXACT,127,129,G2,

In [39]:
str(df_terms.loc[2721]['normalized_term']) == 'nan'

True

In [21]:
def get_row_text(row):
    #print(row)
    filename = row['note_id'] + '.txt'
    section = df_sections_idx.loc[filename]
    return section['text'][row['start']:row['end']]

In [22]:
#df_terms['text'] = df_terms.apply(lambda x: get_row_text(x), axis=1)

In [40]:
links = []
for index, row in df_terms.iterrows():
    #text = row['normalized_term'].replace('_', ' ')
    text = str(row['normalized_term'])
    if text == 'nan' or text is None:
        text = str(row['term'])
        
    results = query_and_search_text(text, 'umls')
    link = ''
    if len(results) > 0:        
        link = 'UMLS:' + results[0]['CUI']
    
    links.append(link)

/tmp/ipykernel_227465/124867022.py:7: DeprecationWarning: The 'timeout' parameter is deprecated in favor of 'request_timeout'
  return Elasticsearch(

In [41]:
df_terms['links'] = links
df_terms.head()

,filename,term,start,end,normalized_term,mark,label,semantic_rel,off0,off1,span,code,links
0,25847295_0,Nonylphenol diethoxylate,0,24,Nonylphenol diethoxylate,T1,ENFERMEDAD,EXACT,0,24,Nonylphenol diethoxylate,,UMLS:C0068946
1,25847295_0,Nonylphenol diethoxylate,370,394,Nonylphenol diethoxylate,T1,ENFERMEDAD,EXACT,370,394,Nonylphenol diethoxylate,,UMLS:C0068946
2,25847295_0,apoptosis,34,43,Apoptosis,T1,ENFERMEDAD,EXACT,34,43,apoptosis,,UMLS:C0162638
3,25847295_0,apoptosis,259,268,Apoptosis,T1,ENFERMEDAD,EXACT,259,268,apoptosis,,UMLS:C0162638
4,25847295_0,apoptosis,437,446,Apoptosis,T1,ENFERMEDAD,EXACT,437,446,apoptosis,,UMLS:C0162638

In [42]:
df_test = df_terms

In [43]:
#df_test['filename'] = ''
df_test['mark'] = 'T1'
df_test['label'] = 'ENFERMEDAD'
df_test['semantic_rel'] = 'EXACT'
df_test['off0'] = df_test['start']
df_test['off1'] = df_test['end']
df_test['span'] = df_test['term']
df_test['code'] = df_test['links']

#for index, row in df_test.iterrows():
#    df_test.at[index, 'filename'] = str(row['document_id']) + '_' + str(row['sentence_id'])

In [44]:
df_test_new = df_test[['filename','mark','label','off0','off1',
                                           'span', 'code', 'semantic_rel']]

In [45]:
df_test_new[df_test_new['span'] == 'no-match'].index
#df_test_new = df_test_new.drop(df_test_new[df_test_new['span'] == 'no-match'].index)

Int64Index([], dtype='int64')

In [52]:
#df_test_new['add'] = False
#df_test_new['sort_column'] = df_test_new['span'].str.len()
#df_test_new = df_test_new.sort_values(by=['filename', 'sort_column'], ascending=False)

In [53]:
#df_test_groups = df_test_new.groupby(by=["filename"])

#for group in df_test_groups:
#    added_indices = []
#    for index, row in group[1].iterrows():
#        if row['off0'] not in added_indices and row['off1'] not in added_indices:
#            added_indices.extend(range(row['off0'], row['off1']))
#            df_test_new.at[index, 'add'] = True

In [46]:
#df_test_new = df_test_new[df_test_new['add']]
#df_test_new = df_test_new.sort_values(by=['filename', 'off0', 'off1'])
#df_test_new = df_test_new[['filename','mark','label','off0','off1',
#                                           'span', 'code', 'semantic_rel']]
df_test_new.head()

,filename,mark,label,off0,off1,span,code,semantic_rel
0,25847295_0,T1,ENFERMEDAD,0,24,Nonylphenol diethoxylate,UMLS:C0068946,EXACT
1,25847295_0,T1,ENFERMEDAD,370,394,Nonylphenol diethoxylate,UMLS:C0068946,EXACT
2,25847295_0,T1,ENFERMEDAD,34,43,apoptosis,UMLS:C0162638,EXACT
3,25847295_0,T1,ENFERMEDAD,259,268,apoptosis,UMLS:C0162638,EXACT
4,25847295_0,T1,ENFERMEDAD,437,446,apoptosis,UMLS:C0162638,EXACT

In [55]:
#for index, row in df_test_new.iterrows():
#    if row['span'].endswith('.') or row['span'].endswith(','):
#        df_test_new.at[index, 'span'] = row['span'][0:-1]
#        df_test_new.at[index, 'off1'] = row['off1']-1

In [47]:
df_test_new.shape

(33715, 8)

In [50]:
df_sentences = pd.read_csv('../st21pv_test_sentences_combined.tsv', sep='\t')
df_sentences.head()

,doc_id,sentence_id,sentence,sentence_doc_start,sentence_doc_end,sentence_starts
0,25847295,0,Nonylphenol diethoxylate inhibits apoptosis in...,0,513,"[0, 66, 259, 340]"
1,25847295,1,Nonylphenol diethoxylate itself showed no toxi...,514,1215,"[0, 96, 197, 540]"
2,25847295,2,The difference in structure of the two compoun...,1216,1598,"[0, 104, 315]"
3,26876532,0,EZH2 and ZFX oncogenes in malignant behaviour ...,0,426,"[0, 71, 221, 355]"
4,26876532,1,"On one hand, this result raised the hypothesis...",427,1016,"[0, 218, 400, 488]"

In [57]:
df_sentences_idx = df_sentences.set_index(['doc_id', 'sentence_doc_start'])

In [59]:
df_sentences_idx.loc[25847295, 514]

,,sentence_id,sentence,sentence_doc_end,sentence_starts
doc_id,sentence_doc_start,,,,
25847295,514,1,Nonylphenol diethoxylate itself showed no toxi...,1215,"[0, 96, 197, 540]"

In [69]:
def convert_filename(original):
    doc, start = original.split('_')
    row = df_sentences_idx.loc[int(doc), int(start)]
    #print(row.iloc[0]['sentence_id'])
    sent = row.iloc[0]['sentence_id']
    return f'{doc}_{sent}'

In [70]:
convert_filename('28478636_1326')

'28478636_3'

In [71]:
df_test_new['filename_sent'] = df_test_new['filename'].apply(convert_filename)

/tmp/ipykernel_227465/484367115.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test_new['filename_sent'] = df_test_new['filename'].apply(convert_filename)

In [73]:
df_test_new['filename'] = df_test_new['filename_sent']
df_test_new = df_test_new.drop(columns=['filename_sent'])

/tmp/ipykernel_227465/2928203159.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test_new['filename'] = df_test_new['filename_sent']

In [74]:
df_test_new.to_csv('../../distemist_eval/toy-data/subtask-linking/medmentions_test_entities_mistral_prompt3_elastic_search_umls.tsv', sep='\t', index=False)

In [65]:
df_gold = pd.read_csv('bg_gold_standard_entities-translated.tsv', sep='\t', header=0)
#df_gold = pd.read_csv('bg_gold_standard_entities.tsv', sep='\t', header=0)
df_gold.head()

,filename,span,off0,off1,translation,code
0,0,,0,23,long -standing hypertension,NaN
1,0,,30,46,frequent headache,NaN
2,0,,49,59,palpitations,NaN
3,0,,62,78,ease,NaN
4,0,,107,134,tightening in the heart area,NaN

In [66]:
df_gold.shape

(305, 6)

In [68]:
df_gold_manaul.shape

(305, 8)

In [69]:
for index, row in df_gold_manaul.iterrows():    
    df_gold.at[index, 'off0'] = row['off0']
    df_gold.at[index, 'off1'] = row['off1']
    
df_gold.head()

,filename,span,off0,off1,translation,code
0,0,,0,23,long -standing hypertension,NaN
1,0,,30,46,frequent headache,NaN
2,0,,49,59,palpitations,NaN
3,0,,62,78,ease,NaN
4,0,,107,134,tightening in the heart area,NaN

In [28]:
links = []
texts = []
for index, row in df_gold.iterrows():
    results = query_and_search_text(row['translation'], 'umls')
    link = ''
    text = ''
    if len(results) > 0:        
        link = 'UMLS:' + results[0]['CUI']
        text = results[0]['STR']
    
    links.append(link)
    texts.append(text)

/tmp/ipykernel_385/124867022.py:7: DeprecationWarning: The 'timeout' parameter is deprecated in favor of 'request_timeout'
  return Elasticsearch(
/tmp/ipykernel_385/124867022.py:25: DeprecationWarning: The 'body' parameter is deprecated and will be removed in a future version. Instead use individual parameters.
  search_result = elastic.search(index=index_name, body=q_dic, size=n_search, from_=0)

In [29]:
df_gold['code'] = links
df_gold['code_text'] = texts
df_gold.head()

,filename,span,off0,off1,translation,code,code_text
0,0,,0,23,long -standing hypertension,UMLS:C0444344,Stride long-standing
1,0,,30,46,frequent headache,UMLS:C0948396,Frequent headache
2,0,,49,59,palpitations,UMLS:C0030252,Palpitations
3,0,,62,78,ease,UMLS:C1331418,Ease
4,0,,107,134,tightening in the heart area,UMLS:C0423604,Tightening pain

In [30]:
df_gold.to_csv('bg_gold_standard_entities-translated_codes.tsv', sep='\t', index=False)

In [197]:
df_gold = pd.read_csv('bg_gold_standard_entities-manual_translated.tsv', sep='\t', header=0)
#df_gold = pd.read_csv('bg_gold_standard_entities-manual.tsv', sep='\t', header=0)

df_gold.head(30)

,filename,mark,label,off0,off1,span,true_code,semantic_rel,translation
0,0_0,T1,ENFERMEDAD,0,23,,UMLS:C0020538,EXACT,long -standing hypertension
1,0_0,T1,ENFERMEDAD,30,46,,UMLS:C0948396,EXACT,frequent headache
2,0_0,T1,ENFERMEDAD,49,59,,UMLS:C0030252,EXACT,palpitations
3,0_0,T1,ENFERMEDAD,62,78,,UMLS:C1331418,EXACT,ease
4,0_0,T1,ENFERMEDAD,107,134,,UMLS:C0232292,EXACT,tightening in the heart area
5,0_0,T1,ENFERMEDAD,137,147,,UMLS:C0030252,EXACT,palpitations
6,0_0,T1,ENFERMEDAD,150,156,,UMLS:C0027497,EXACT,nausea
7,0_0,T1,ENFERMEDAD,167,189,,UMLS:C0496923,EXACT,prostate
8,0_0,T1,ENFERMEDAD,224,236,,UMLS:C0392920,EXACT,chemotherapy
9,11_0,T1,ENFERMEDAD,0,14,,UMLS:C0011847,EXACT,diabetes
10,11_0,T1,ENFERMEDAD,75,98,,UMLS:C0271680,EXACT,diabetic polyneuropathy
11,11_0,T1,ENFERMEDAD,101,127,,UMLS:C0278140,EXACT,severe pain symptoms
12,11_0,T1,ENFERMEDAD,151,167,.,UMLS:C0020538,EXACT,Art. hypertension
13,11_0,T1,ENFERMEDAD,224,250,,UMLS:C0002962,EXACT,frequent angina
14,11_0,T1,ENFERMEDAD,321,346,,UMLS:C0003507,EXACT,stenosis of the aortic valve
15,11_0,T1,ENFERMEDAD,374,401,,UMLS:C1384584,EXACT,generalized osteoarthrosis
16,11_0,T1,ENFERMEDAD,430,440,.,UMLS:C0037925,EXACT,city . pillar
17,11_0,T1,ENFERMEDAD,443,450,,UMLS:C0022742,EXACT,knee
18,11_0,T1,ENFERMEDAD,453,470,,UMLS:C0019558,EXACT,hip joints
19,11_0,T1,ENFERMEDAD,489,540,/ ...,UMLS:C0750009,EXACT,Recurrent urolithiasis/double ureterolithotomy/
20,11_0,T1,ENFERMEDAD,543,559,.,UMLS:C0085697,EXACT,Hr. pyelonephritis
21,11_0,T1,ENFERMEDAD,562,564,,UMLS:C0015625,EXACT,fa
22,11_0,T1,ENFERMEDAD,567,573,,UMLS:C1546515,EXACT,sister
23,11_0,T1,ENFERMEDAD,577,592,,UMLS:C0745343,EXACT,insulin treatment
24,11_0,T1,ENFERMEDAD,595,602,,UMLS:C2318681,EXACT,uncles
25,11_0,T1,ENFERMEDAD,607,609,,UMLS:C0011849,EXACT,Act
26,12_0,T1,ENFERMEDAD,37,57,,UMLS:C0684249,EXACT,lung carcinoma
27,12_0,T1,ENFERMEDAD,90,102,,UMLS:C0392920,EXACT,chemotherapy
28,12_0,T1,ENFERMEDAD,105,116,,UMLS:C0851346,EXACT,radiation
29,12_0,T1,ENFERMEDAD,146,156,,UMLS:C0018681,EXACT,headache

In [198]:
df_gold = df_gold.sort_values(by=['filename', 'off0', 'off1'])

In [199]:
df_gold.shape

(305, 9)

In [200]:
df_gold_manaul = df_gold_manaul.sort_values(by=['filename', 'off0', 'off1'])

In [201]:
df_gold_manaul.shape

(305, 8)

In [202]:
df_gold_manaul.head(30)

,filename,mark,label,off0,off1,span,code,semantic_rel
0,0_0,T1,ENFERMEDAD,0,23,,,EXACT
1,0_0,T1,ENFERMEDAD,30,46,,,EXACT
2,0_0,T1,ENFERMEDAD,49,59,,,EXACT
3,0_0,T1,ENFERMEDAD,62,78,,,EXACT
4,0_0,T1,ENFERMEDAD,107,134,,,EXACT
5,0_0,T1,ENFERMEDAD,137,147,,,EXACT
6,0_0,T1,ENFERMEDAD,150,156,,,EXACT
7,0_0,T1,ENFERMEDAD,167,189,,,EXACT
8,0_0,T1,ENFERMEDAD,224,236,,,EXACT
115,10_0,T1,ENFERMEDAD,14,24,,,EXACT
116,10_0,T1,ENFERMEDAD,27,40,,,EXACT
117,10_0,T1,ENFERMEDAD,43,54,,,EXACT
118,10_0,T1,ENFERMEDAD,57,73,,,EXACT
119,10_0,T1,ENFERMEDAD,76,81,,,EXACT
120,10_0,T1,ENFERMEDAD,84,89,,,EXACT
121,10_0,T1,ENFERMEDAD,92,115,,,EXACT
122,10_0,T1,ENFERMEDAD,118,156,,,EXACT
123,10_0,T1,ENFERMEDAD,171,186,,,EXACT
124,10_0,T1,ENFERMEDAD,191,197,,,EXACT
125,10_0,T1,ENFERMEDAD,200,206,,,EXACT
126,10_0,T1,ENFERMEDAD,209,222,,,EXACT
127,10_0,T1,ENFERMEDAD,239,272,,,EXACT
128,10_0,T1,ENFERMEDAD,275,296,,,EXACT
129,10_0,T1,ENFERMEDAD,349,397,,,EXACT
130,10_0,T1,ENFERMEDAD,414,419,,,EXACT
131,11_0,T1,ENFERMEDAD,21,35,,,EXACT
132,11_0,T1,ENFERMEDAD,96,119,,,EXACT
133,11_0,T1,ENFERMEDAD,122,148,,,EXACT
134,11_0,T1,ENFERMEDAD,172,188,.,,EXACT
135,11_0,T1,ENFERMEDAD,245,271,,,EXACT

In [203]:
df_gold.head(30)

,filename,mark,label,off0,off1,span,true_code,semantic_rel,translation
0,0_0,T1,ENFERMEDAD,0,23,,UMLS:C0020538,EXACT,long -standing hypertension
1,0_0,T1,ENFERMEDAD,30,46,,UMLS:C0948396,EXACT,frequent headache
2,0_0,T1,ENFERMEDAD,49,59,,UMLS:C0030252,EXACT,palpitations
3,0_0,T1,ENFERMEDAD,62,78,,UMLS:C1331418,EXACT,ease
4,0_0,T1,ENFERMEDAD,107,134,,UMLS:C0232292,EXACT,tightening in the heart area
5,0_0,T1,ENFERMEDAD,137,147,,UMLS:C0030252,EXACT,palpitations
6,0_0,T1,ENFERMEDAD,150,156,,UMLS:C0027497,EXACT,nausea
7,0_0,T1,ENFERMEDAD,167,189,,UMLS:C0496923,EXACT,prostate
8,0_0,T1,ENFERMEDAD,224,236,,UMLS:C0392920,EXACT,chemotherapy
84,10_0,T1,ENFERMEDAD,14,24,,UMLS:C0018681,EXACT,headache
85,10_0,T1,ENFERMEDAD,27,40,,UMLS:C0012833,EXACT,dizziness
87,10_0,T1,ENFERMEDAD,43,54,,UMLS:C0015672,EXACT,ease of fatigue
88,10_0,T1,ENFERMEDAD,57,73,,UMLS:C0742339,EXACT,chest
89,10_0,T1,ENFERMEDAD,76,81,,UMLS:C0013404,EXACT,shortness of breath
90,10_0,T1,ENFERMEDAD,84,89,,UMLS:C0039971,EXACT,thirst
92,10_0,T1,ENFERMEDAD,92,115,,UMLS:C0857180,EXACT,right -handed pain
94,10_0,T1,ENFERMEDAD,118,156,,UMLS:C0948843,EXACT,irradiating to the waist and right shoulder
98,10_0,T1,ENFERMEDAD,171,186,,UMLS:C0042023,EXACT,frequent urination
99,10_0,T1,ENFERMEDAD,191,197,,UMLS:C0175627,EXACT,burning
100,10_0,T1,ENFERMEDAD,200,206,,UMLS:C0231530,EXACT,jerk
101,10_0,T1,ENFERMEDAD,209,222,,UMLS:C0085631,EXACT,restless
102,10_0,T1,ENFERMEDAD,239,272,,UMLS:C0497156,EXACT,swelling of the lymph node of the neck
104,10_0,T1,ENFERMEDAD,275,296,,UMLS:C0030247,EXACT,palpation
108,10_0,T1,ENFERMEDAD,349,397,,UMLS:C4281103,EXACT,injured in the area of the right hip becomes
109,10_0,T1,ENFERMEDAD,414,419,,UMLS:C0030193,EXACT,pain
9,11_0,T1,ENFERMEDAD,0,14,,UMLS:C0011847,EXACT,diabetes
10,11_0,T1,ENFERMEDAD,75,98,,UMLS:C0271680,EXACT,diabetic polyneuropathy
11,11_0,T1,ENFERMEDAD,101,127,,UMLS:C0278140,EXACT,severe pain symptoms
12,11_0,T1,ENFERMEDAD,151,167,.,UMLS:C0020538,EXACT,Art. hypertension
13,11_0,T1,ENFERMEDAD,224,250,,UMLS:C0002962,EXACT,frequent angina

In [185]:
#for index, row in df_gold.iterrows():    
#    filter_file = df_gold_manaul['filename'] == row['filename']
#    filter_span = df_gold_manaul['span'] == row['span']
#    true_rows = df_gold_manaul[filter_file & filter_span]
    
#    if true_rows.shape[0] == 0:
#        print(row)
#    true_row = true_rows.iloc[0]
#    df_gold.at[index, 'off0'] = true_row['off0']
#    df_gold.at[index, 'off1'] = true_row['off1']
    
#df_gold.head(30)

In [186]:
#df_gold['filename'] = df_gold['filename'].astype(str)

In [187]:
#for index, row in df_gold.iterrows():
#    new_val = row['filename'] + '_0'
#    df_gold.at[index, 'filename'] = new_val

In [207]:
!pip install Levenshtein

Requirement already satisfied: Levenshtein in /home/sylvia/anaconda3/lib/python3.8/site-packages (0.21.1)
Requirement already satisfied: rapidfuzz<4.0.0,>=2.3.0 in /home/sylvia/anaconda3/lib/python3.8/site-packages (from Levenshtein) (3.2.0)

[notice] A new release of pip is available: 23.1.2 -> 23.2.1
[notice] To update, run: pip install --upgrade pip

In [209]:
import Levenshtein

def select_best_candidate(text, results):
    max_ratio = 0
    max_candidate = results[0]['CUI']
    max_candidate_text = results[0]['STR']
    
    for result in results:
        ratio = Levenshtein.ratio(text, result['STR'])
        
        if ratio > max_ratio:
            max_ratio = ratio
            max_candidate = result['CUI']
            max_candidate_text = result['STR']
            
    return max_candidate, max_candidate_text

In [ ]:
links = []
texts = []
for index, row in df_gold.iterrows():
    results = query_and_search_text(row['translation'], 'umls')
    link = ''
    text = ''
    if len(results) > 0:        
        #link = 'UMLS:' + results[0]['CUI']
        link, text = select_best_candidate(row['translation'], results)
        link = 'UMLS:' + link
        #text = results[0]['STR']
    
    links.append(link)
    texts.append(text)

In [219]:
df_gold['code'] = links
df_gold['code_text'] = texts

In [220]:
df_gold['mark'] = 'T1'
df_gold['label'] = 'ENFERMEDAD'
df_gold['semantic_rel'] = 'EXACT'

In [221]:
df_gold = df_gold[['filename', 'mark', 'label', 'off0', 'off1', 'span', 'code', 'semantic_rel']]

In [222]:
df_gold = df_gold.sort_values(by=['filename', 'off0', 'off1'])

In [223]:
df_gold.head(30)

,filename,mark,label,off0,off1,span,code,semantic_rel
0,0_0,T1,ENFERMEDAD,0,23,,,EXACT
1,0_0,T1,ENFERMEDAD,30,46,,,EXACT
2,0_0,T1,ENFERMEDAD,49,59,,,EXACT
3,0_0,T1,ENFERMEDAD,62,78,,,EXACT
4,0_0,T1,ENFERMEDAD,107,134,,,EXACT
5,0_0,T1,ENFERMEDAD,137,147,,,EXACT
6,0_0,T1,ENFERMEDAD,150,156,,,EXACT
7,0_0,T1,ENFERMEDAD,167,189,,,EXACT
8,0_0,T1,ENFERMEDAD,224,236,,,EXACT
84,10_0,T1,ENFERMEDAD,14,24,,,EXACT
85,10_0,T1,ENFERMEDAD,27,40,,,EXACT
87,10_0,T1,ENFERMEDAD,43,54,,,EXACT
88,10_0,T1,ENFERMEDAD,57,73,,,EXACT
89,10_0,T1,ENFERMEDAD,76,81,,,EXACT
90,10_0,T1,ENFERMEDAD,84,89,,,EXACT
92,10_0,T1,ENFERMEDAD,92,115,,,EXACT
94,10_0,T1,ENFERMEDAD,118,156,,,EXACT
98,10_0,T1,ENFERMEDAD,171,186,,,EXACT
99,10_0,T1,ENFERMEDAD,191,197,,,EXACT
100,10_0,T1,ENFERMEDAD,200,206,,,EXACT
101,10_0,T1,ENFERMEDAD,209,222,,,EXACT
102,10_0,T1,ENFERMEDAD,239,272,,,EXACT
104,10_0,T1,ENFERMEDAD,275,296,,,EXACT
108,10_0,T1,ENFERMEDAD,349,397,,,EXACT
109,10_0,T1,ENFERMEDAD,414,419,,,EXACT
9,11_0,T1,ENFERMEDAD,0,14,,,EXACT
10,11_0,T1,ENFERMEDAD,75,98,,,EXACT
11,11_0,T1,ENFERMEDAD,101,127,,,EXACT
12,11_0,T1,ENFERMEDAD,151,167,.,,EXACT
13,11_0,T1,ENFERMEDAD,224,250,,,EXACT

In [216]:
#df_gold.to_csv('bg_gold_standard_entities-manual_norm.tsv', sep='\t', index=False)
df_gold.to_csv('bg_gold_standard_entities-predicted_lev_norm.tsv', sep='\t', index=False)

In [100]:
#df_gold_manaul = pd.read_csv('bg_text_manual.csv', header=0)

df_gold_manaul = pd.read_csv('bg_gold_standard_entities.tsv', sep='\t', header=0)
df_gold_manaul.head()

   filename                         span  off0  off1
0         0            0    23
1         0                  30    46
2         0                       49    59
3         0                  62    78
4         0        107   134

In [54]:
#df_gold_manaul['span'] = list(df_gold['span'].values)

In [37]:
#df_gold_manaul = df_gold_manaul[['filename', 'span', 'off0', 'off1', 'true_code']]

In [38]:
#df_gold_manaul = df_gold_manaul.rename(columns={"true_code": "code"})

In [101]:
df_gold_manaul.head()
#filename	mark	label	off0	off1	span	code	semantic_rel

   filename                         span  off0  off1
0         0            0    23
1         0                  30    46
2         0                       49    59
3         0                  62    78
4         0        107   134

In [102]:
df_gold_manaul['mark'] = 'T1'
df_gold_manaul['label'] = 'ENFERMEDAD'
df_gold_manaul['semantic_rel'] = 'EXACT'

In [103]:
df_gold_manaul['code'] = ''

In [104]:
df_gold_manaul = df_gold_manaul[['filename', 'mark', 'label', 'off0', 'off1', 'span', 'code', 'semantic_rel']]

In [105]:
df_gold_manaul['filename'] = df_gold_manaul['filename'].astype(str)

In [106]:
for index, row in df_gold_manaul.iterrows():
    #new_val = row['filename'].replace('0', '') + '0'
    #if new_val.startswith('_'):
    #    new_val = '0' + new_val
    new_val = row['filename'] + '_0'
    df_gold_manaul.at[index, 'filename'] = new_val

In [107]:
df_gold_manaul = df_gold_manaul.sort_values(by=['filename', 'off0', 'off1'])

In [108]:
df_gold_manaul.head(30)

,filename,mark,label,off0,off1,span,code,semantic_rel
0,0_0,T1,ENFERMEDAD,0,23,,,EXACT
1,0_0,T1,ENFERMEDAD,30,46,,,EXACT
2,0_0,T1,ENFERMEDAD,49,59,,,EXACT
3,0_0,T1,ENFERMEDAD,62,78,,,EXACT
4,0_0,T1,ENFERMEDAD,107,134,,,EXACT
5,0_0,T1,ENFERMEDAD,137,147,,,EXACT
6,0_0,T1,ENFERMEDAD,150,156,,,EXACT
7,0_0,T1,ENFERMEDAD,167,189,,,EXACT
8,0_0,T1,ENFERMEDAD,224,236,,,EXACT
115,10_0,T1,ENFERMEDAD,14,24,,,EXACT
116,10_0,T1,ENFERMEDAD,27,40,,,EXACT
117,10_0,T1,ENFERMEDAD,43,54,,,EXACT
118,10_0,T1,ENFERMEDAD,57,73,,,EXACT
119,10_0,T1,ENFERMEDAD,76,81,,,EXACT
120,10_0,T1,ENFERMEDAD,84,89,,,EXACT
121,10_0,T1,ENFERMEDAD,92,115,,,EXACT
122,10_0,T1,ENFERMEDAD,118,156,,,EXACT
123,10_0,T1,ENFERMEDAD,171,186,,,EXACT
124,10_0,T1,ENFERMEDAD,191,197,,,EXACT
125,10_0,T1,ENFERMEDAD,200,206,,,EXACT
126,10_0,T1,ENFERMEDAD,209,222,,,EXACT
127,10_0,T1,ENFERMEDAD,239,272,,,EXACT
128,10_0,T1,ENFERMEDAD,275,296,,,EXACT
129,10_0,T1,ENFERMEDAD,349,397,,,EXACT
130,10_0,T1,ENFERMEDAD,414,419,,,EXACT
131,11_0,T1,ENFERMEDAD,21,35,,,EXACT
132,11_0,T1,ENFERMEDAD,96,119,,,EXACT
133,11_0,T1,ENFERMEDAD,122,148,,,EXACT
134,11_0,T1,ENFERMEDAD,172,188,.,,EXACT
135,11_0,T1,ENFERMEDAD,245,271,,,EXACT

In [109]:
df_gold_manaul.to_csv('bg_gold_standard_entities-manual_ner.tsv', sep='\t', index=False)

In [16]:
df_gold_manual_norm = pd.read_csv('bg_gold_standard_entities-manual_norm.tsv', sep='\t', header=0)
df_gold_manual_norm.head()

,filename,mark,label,off0,off1,span,code,semantic_rel
0,0_0,T1,ENFERMEDAD,0,23,,UMLS:C0020538,EXACT
1,0_0,T1,ENFERMEDAD,30,46,,UMLS:C0948396,EXACT
2,0_0,T1,ENFERMEDAD,49,59,,UMLS:C0030252,EXACT
3,0_0,T1,ENFERMEDAD,49,59,,UMLS:C0030252,EXACT
4,0_0,T1,ENFERMEDAD,62,78,,UMLS:C1331418,EXACT

In [17]:
df_gold_pred_norm = pd.read_csv('vicuna_links/distemist_evaluation_library/toy-data/subtask-linking/bg_gold_standard_entities-predicted_lev_norm.tsv', sep='\t', header=0)
df_gold_pred_norm.head()

,filename,mark,label,off0,off1,span,code,semantic_rel
0,0_0,T1,ENFERMEDAD,0,23,,UMLS:C0597290,EXACT
1,0_0,T1,ENFERMEDAD,30,46,,UMLS:C0948396,EXACT
2,0_0,T1,ENFERMEDAD,49,59,,UMLS:C0030252,EXACT
3,0_0,T1,ENFERMEDAD,62,78,,UMLS:C1331418,EXACT
4,0_0,T1,ENFERMEDAD,107,134,,UMLS:C0011974,EXACT

In [18]:
df_gold_pred_norm['off0'] = df_gold_manual_norm['off0']
df_gold_pred_norm['off1'] = df_gold_manual_norm['off1']

In [19]:
df_gold_pred_norm.head()

,filename,mark,label,off0,off1,span,code,semantic_rel
0,0_0,T1,ENFERMEDAD,0,23,,UMLS:C0597290,EXACT
1,0_0,T1,ENFERMEDAD,30,46,,UMLS:C0948396,EXACT
2,0_0,T1,ENFERMEDAD,49,59,,UMLS:C0030252,EXACT
3,0_0,T1,ENFERMEDAD,49,59,,UMLS:C1331418,EXACT
4,0_0,T1,ENFERMEDAD,62,78,,UMLS:C0011974,EXACT

In [20]:
df_gold_pred_norm.to_csv('vicuna_links/distemist_evaluation_library/toy-data/subtask-linking/bg_gold_standard_entities-predicted_lev_norm.tsv', sep='\t', index=False)

In [27]:
df_pred_sap = pd.read_csv('vicuna_links/distemist_evaluation_library/toy-data/subtask-linking/bg_test_entities_sap_link.tsv', sep='\t', header=0)

In [29]:
df_pred_sap.head(50)

,filename,mark,label,off0,off1,span,code,semantic_rel
0,0_0,T1,ENFERMEDAD,0,23,,UMLS:C0745114,EXACT
1,0_0,T1,ENFERMEDAD,36,46,,UMLS:C0018681,EXACT
2,0_0,T1,ENFERMEDAD,49,59,,UMLS:C0030252,EXACT
3,0_0,T1,ENFERMEDAD,68,78,,UMLS:C0232292,EXACT
4,0_0,T1,ENFERMEDAD,107,134,,UMLS:C0027497,EXACT
5,0_0,T1,ENFERMEDAD,137,147,,UMLS:C0042571,EXACT
6,0_0,T1,ENFERMEDAD,150,156,,UMLS:C0376358,EXACT
7,0_0,T1,ENFERMEDAD,167,189,,UMLS:C0013217,EXACT
8,10_0,T1,ENFERMEDAD,14,24,,UMLS:C0018681,EXACT
9,10_0,T1,ENFERMEDAD,27,40,,UMLS:C0042571,EXACT
10,10_0,T1,ENFERMEDAD,43,54,,UMLS:C3553711,EXACT
11,10_0,T1,ENFERMEDAD,57,73,,UMLS:C0742339,EXACT
12,10_0,T1,ENFERMEDAD,76,81,,UMLS:C0013404,EXACT
13,10_0,T1,ENFERMEDAD,84,89,,UMLS:C0039971,EXACT
14,10_0,T1,ENFERMEDAD,92,115,,UMLS:C2073338,EXACT
15,10_0,T1,ENFERMEDAD,118,156,,UMLS:C1960993,EXACT
16,10_0,T1,ENFERMEDAD,159,186,,UMLS:C0042023,EXACT
17,10_0,T1,ENFERMEDAD,189,206,,UMLS:C0858708,EXACT
18,10_0,T1,ENFERMEDAD,239,272,,UMLS:C4551446,EXACT
19,10_0,T1,ENFERMEDAD,275,296,,UMLS:C0234233,EXACT
20,10_0,T1,ENFERMEDAD,299,336,,UMLS:C0578823,EXACT
21,11_0,T1,ENFERMEDAD,21,35,,UMLS:C0011849,EXACT
22,11_0,T1,ENFERMEDAD,95,118,,UMLS:C0271680,EXACT
23,11_0,T1,ENFERMEDAD,121,147,,UMLS:C0278140,EXACT
24,11_0,T1,ENFERMEDAD,250,270,,UMLS:C0020538,EXACT
25,11_0,T1,ENFERMEDAD,299,315,,UMLS:C1854762,EXACT
26,11_0,T1,ENFERMEDAD,341,348,,UMLS:C0031807,EXACT
27,11_0,T1,ENFERMEDAD,352,366,,UMLS:C0027051,EXACT
28,11_0,T1,ENFERMEDAD,394,421,,UMLS:C0003501,EXACT
29,11_0,T1,ENFERMEDAD,463,490,,UMLS:C0678234,EXACT
30,11_0,T1,ENFERMEDAD,509,532,,UMLS:C0003501,EXACT
31,11_0,T1,ENFERMEDAD,543,559,,UMLS:C0409952,EXACT
32,11_0,T1,ENFERMEDAD,597,612,,UMLS:C0728985,EXACT
33,11_0,T1,ENFERMEDAD,615,622,,UMLS:C0022745,EXACT
34,12_0,T1,ENFERMEDAD,22,36,,UMLS:C0011900,EXACT
35,12_0,T1,ENFERMEDAD,37,45,,UMLS:C0998265,EXACT
36,12_0,T1,ENFERMEDAD,49,57,,UMLS:C0024109,EXACT
37,12_0,T1,ENFERMEDAD,60,72,,UMLS:C0205187,EXACT
38,12_0,T1,ENFERMEDAD,90,102,,UMLS:C0013217,EXACT
39,12_0,T1,ENFERMEDAD,105,116,,UMLS:C1522449,EXACT
40,12_0,T1,ENFERMEDAD,146,156,,UMLS:C0018681,EXACT
41,12_0,T1,ENFERMEDAD,159,170,,UMLS:C1069915,EXACT
42,12_0,T1,ENFERMEDAD,173,179,,UMLS:C1444783,EXACT
43,12_0,T1,ENFERMEDAD,182,189,,UMLS:C0016928,EXACT
44,12_0,T1,ENFERMEDAD,211,232,,UMLS:C5243901,EXACT
45,13_0,T1,ENFERMEDAD,0,10,,UMLS:C3864418,EXACT
46,13_0,T1,ENFERMEDAD,14,30,,UMLS:C0012833,EXACT
47,13_0,T1,ENFERMEDAD,33,44,,UMLS:C1069915,EXACT
48,13_0,T1,ENFERMEDAD,47,58,,UMLS:C0235283,EXACT
49,14_0,T1,ENFERMEDAD,0,10,,UMLS:C3864418,EXACT

In [41]:
df_pred_sap_nonum = df_pred_sap[~df_pred_sap['span'].str.contains("1|10|19|20|3|4|5|6|7|8|9|0")]

In [42]:
df_pred_sap_nonum.to_csv('vicuna_links/distemist_evaluation_library/toy-data/subtask-linking/bg_test_entities_sap_link_nonum.tsv', sep='\t', index=False)