In [2]:
#document_id	sentence_id	doc_start_index	doc_end_index	sentence_entity_start	sentence_entity_end	text_segment	semantic_type_id	entity_id

In [1]:
import pandas as pd

In [3]:
#df_checkpoint_mm_multi_sentences_671
df_result_outputs = pd.read_csv('df_checkpoint_sp21_test_sentences_llama_prompt_0929_v1_13b.tsv', sep='\t', header=0)
df_result_outputs.head()

                                             outputs
0  Create a comma-separated list of all medical t...
1  Create a comma-separated list of all medical t...
2  Create a comma-separated list of all medical t...
3  Create a comma-separated list of all medical t...
4  Create a comma-separated list of all medical t...

In [4]:
from ast import literal_eval
#df_result_outputs['outputs'] = df_result_outputs['outputs'].apply(literal_eval)

In [18]:
result_outputs = list(df_result_outputs['outputs'].values)

In [19]:
result_outputs[0:10]

['Create a comma-separated list of all medical terms in the original language without translations in the medical article below:\n"Nonylphenol diethoxylate inhibits apoptosis induced in PC12 cells Nonylphenol and short-chain nonylphenol ethoxylates such as NP2 EO are present in aquatic environment as wastewater contaminants, and their toxic effects on aquatic species have been reported. Apoptosis has been shown to be induced by serum deprivation or copper treatment. To understand the toxicity of nonylphenol diethoxylate, we investigated the effects of NP2 EO on apoptosis induced by serum deprivation and copper by using PC12 cell system."\n\nHere is the list of medical terms in the original language without translations:\n\nNonylphenol, diethoxylate, apoptosis, PC12, serum deprivation, copper, toxicity.',
 'Create a comma-separated list of all medical terms in the original language without translations in the medical article below:\n"Nonylphenol diethoxylate itself showed no toxicity and recovered cell viability from apoptosis. In addition, nonylphenol diethoxylate decreased DNA fragmentation caused by apoptosis in PC12 cells. This phenomenon was confirmed after treating apoptotic PC12 cells with nonylphenol diethoxylate, whereas the cytochrome c release into the cytosol decreased as compared to that in apoptotic cells not treated with nonylphenol diethoxylate s. Furthermore, Bax contents in apoptotic cells were reduced after exposure to nonylphenol diethoxylate. Thus, nonylphenol diethoxylate has the opposite effect on apoptosis in PC12 cells compared to nonylphenol, which enhances apoptosis induced by serum deprivation."\n\nHere is the list of medical terms in the original language without translations:\n\n* Nonylphenol diethoxylate\n* apoptosis\n* PC12 cells\n* cytochrome c\n* cytosol\n* Bax\n* serum deprivation',
 'Create a comma-separated list of all medical terms in the original language without translations in the medical article below:\n"The difference in structure of the two compounds is hypothesized to be responsible for this phenomenon. These results indicated that nonylphenol diethoxylate has capability to affect cell differentiation and development and has potentially harmful effect on organisms because of its unexpected impact on apoptosis. Â© 2015 Wiley Periodicals, Inc. Environ Toxicol 31: 1389-1398, 2016."\n\nHere is the list of medical terms in the original language without translations:\n\n1. structure\n2. compounds\n3. phenomenon\n4. cell differentiation\n5. development\n6. apoptosis',
 'Create a comma-separated list of all medical terms in the original language without translations in the medical article below:\n"EZH2 and ZFX oncogenes in malignant behaviour of parathyroid neoplasms Several studies reported somatic mutations of many genes (MEN1, CTNNB1, CDKIs and others) in parathyroid adenoma, although with different prevalence. Recently, activating mutations of the EZH2 and ZFX oncogenes were identified in benign parathyroid adenoma by whole exome sequencing. The same mutations had been found in blood and ovary malignant tumours."\n\nHere is the list of medical terms in the original language without translations:\n\nEZH2, ZFX, MEN1, CTNNB1, CDKIs',
 'Create a comma-separated list of all medical terms in the original language without translations in the medical article below:\n"On one hand, this result raised the hypothesis that these oncogenes may play a role in the onset of parathyroid tumour, but it would also suggest they may be involved in malignant, rather benign, parathyroid neoplasm. Our aim was to verify the occurrence of selected mutations of the EZH2 and ZFX genes in an Italian cohort of 23 sporadic parathyroid carcinomas, 12 atypical and 45 typical adenomas. DNA was extracted from paraffin-embedded tissues, PCR amplified and directly sequenced. No mutations were detected in the coding sequence and boundaries of both genes in any of the samples."\n\nHere is the list of medical terms in the original language without translations:\n\n* oncogenes\n* parathyroid tumour\n* malignant\n* benign\n* parathyroid neoplasm\n* EZH2\n* ZFX\n* DNA\n* PCR\n* sequenced',
 'Create a comma-separated list of all medical terms in the original language without translations in the medical article below:\n"Two polymorphisms of the EZH2 gene were identified with different prevalence: the rs2072407 variant was present in the 30 % of the samples, in keeping with the overall frequency in larger populations, while the rs78589034 variant, located close to the 5\' end of the exon 16, was detected in only one proband with familial isolated hyperparathyroidism; we investigated the possible outcome on the splicing process. EZH2 and ZFX genes do not seem to have an impact on the onset of most parathyroid tumours, both benign and malignant, though further studies on larger cohorts of different ethnicity are needed."\n\nHere is the list of medical terms in the original language without translations:\n\nEZH2, ZFX, parathyroid tumours, familial isolated hyperparathyroidism.',
 'Create a comma-separated list of all medical terms in the original language without translations in the medical article below:\n"Patient - Physician Discordance in Global Assessment in Rheumatoid Arthritis: A Systematic Literature Review With Meta-Analysis The integration of the patient in therapeutic decision-making is important in the management of rheumatoid arthritis (RA), but the patient opinion regarding disease status may differ from the physician\'s opinion. The aim of this study was to assess in the published literature the frequency and drivers of patient - physician discordance in global assessment in RA. A systematic literature review of all articles published up to January 2015 in Medline or Embase, reporting discordance in RA, was conducted by 2 investigators."\n\nHere is the list of medical terms in the original language without translations:\n\n* patient\n* physician\n* discordance\n* global assessment\n* rheumatoid arthritis\n* RA\n* Medline\n* Embase',
 'Create a comma-separated list of all medical terms in the original language without translations in the medical article below:\n"Discordance was defined based on the absolute difference of patient global (PGA) and physician global assessments (PhGA) on 0-10-cm scales. The frequency of discordance and its predictors were collected in each study. Frequencies of discordance were pooled by meta-analysis using random effect. In all, 12 studies were selected (i.e., 11,879 patients): weighted mean Â± SD age was 55.1 Â± 13.9 years, weighted mean Â± SD disease duration was 10.4 Â± 9.3 years, and 80.7% were women."\n\nHere is the list of medical terms in the original language without translations:\n\n* Discordance\n* Patient global (PGA)\n* Physician global assessments (PhGA)\n* 0-10-cm scales\n* Disease duration',
 'Create a comma-separated list of all medical terms in the original language without translations in the medical article below:\n"The value of the difference | PGA - PhGA | defining discordance varied between â¥0.5 cm (n = 2 studies) to â¥3 cm (n = 5 studies); the weighted mean value was 2.7 cm. The pooled percentage of patients with discordance was 43% (95% confidence interval 36%-51%; range 25%-76%). PGA was usually higher than PhGA. The drivers of PGA were pain and functional incapacity, whereas drivers of PhGA were joint counts and acute-phase reactants."\n\nHere is the list of medical terms in the original language without translations:\n\nPGA, PhGA, discordance, cm.',
 'Create a comma-separated list of all medical terms in the original language without translations in the medical article below:\n"Discordance in global assessment was most frequently defined as a difference of 3 points or more; even with such a stringent definition, up to half the patients were found to be discordant. The long-term consequences of this discordance remain to be determined."\n\nHere is the list of medical terms in the original language without translations:\n\n* discordance\n* global assessment\n* long-term consequences']

In [24]:
def strip_llama_prompt(text):
    text = text.replace('Create a comma-separated list of all medical terms in the original language without translations in the medical article below:\n', '')
    if '"\n\n' in text:
        end_article = text.index('"\n\n')
        text = text[end_article+3:]
    else:
        text = ''
    return text

In [25]:
strip_llama_prompt(result_outputs[0])

'Here is the list of medical terms in the original language without translations:\n\nNonylphenol, diethoxylate, apoptosis, PC12, serum deprivation, copper, toxicity.'

In [27]:
idx = 0
stripped_results = []
for result in result_outputs:    
    res = strip_llama_prompt(result)
    #print(f'{idx} - {res}')
    stripped_results.append(res)
    idx+=1

In [28]:
stripped_results[0:10]

['Here is the list of medical terms in the original language without translations:\n\nNonylphenol, diethoxylate, apoptosis, PC12, serum deprivation, copper, toxicity.',
 'Here is the list of medical terms in the original language without translations:\n\n* Nonylphenol diethoxylate\n* apoptosis\n* PC12 cells\n* cytochrome c\n* cytosol\n* Bax\n* serum deprivation',
 'Here is the list of medical terms in the original language without translations:\n\n1. structure\n2. compounds\n3. phenomenon\n4. cell differentiation\n5. development\n6. apoptosis',
 'Here is the list of medical terms in the original language without translations:\n\nEZH2, ZFX, MEN1, CTNNB1, CDKIs',
 'Here is the list of medical terms in the original language without translations:\n\n* oncogenes\n* parathyroid tumour\n* malignant\n* benign\n* parathyroid neoplasm\n* EZH2\n* ZFX\n* DNA\n* PCR\n* sequenced',
 'Here is the list of medical terms in the original language without translations:\n\nEZH2, ZFX, parathyroid tumours, familial isolated hyperparathyroidism.',
 'Here is the list of medical terms in the original language without translations:\n\n* patient\n* physician\n* discordance\n* global assessment\n* rheumatoid arthritis\n* RA\n* Medline\n* Embase',
 'Here is the list of medical terms in the original language without translations:\n\n* Discordance\n* Patient global (PGA)\n* Physician global assessments (PhGA)\n* 0-10-cm scales\n* Disease duration',
 'Here is the list of medical terms in the original language without translations:\n\nPGA, PhGA, discordance, cm.',
 'Here is the list of medical terms in the original language without translations:\n\n* discordance\n* global assessment\n* long-term consequences']

In [33]:
result_outputs = stripped_results

In [35]:
def unique_occurences(occurences):
    # intilize a null list
    unique_list = []

    # traverse for all elements
    for x in occurences:
        # check if exists in unique_list or not
        if x not in unique_list:
            unique_list.append(x)

    return unique_list

In [29]:
import re
def find_original_span(text, term, abbr=False):    
    found_original_text = ''
    
    search_text = text
    search_term = term
    if abbr and search_term in search_text:
        found_original_text = search_term
    else:       
        search_text = text.lower()
        search_term = term.lower()
        if search_term in search_text:
            found_original_text = search_term
        #else:
        #    found_original_text = fuzzy_ngram_match(term, text).lower()

    if found_original_text != '':
        print(found_original_text)
        occurrences_start = [m.start() for m in re.finditer(re.escape(found_original_text), search_text)]
        found_occurences = []
        for start_idx in occurrences_start:
            #start_idx = current_idx + text.lower()[current_idx:].index(found_original_text)
            end_idx = start_idx + len(found_original_text)
            found_occurences.append({
                'start_idx': start_idx,
                'end_idx': end_idx,
                'term': text[start_idx:end_idx]
            })
        return found_occurences
    else:
        return [{
            'start_idx': -1,
            'end_idx': -1,
            'term': 'no-match'
        }]

In [50]:
import json
import re
def convert_output_from_comma_list(text, outputs, abbr=False):
    outputs = str(outputs)
    if ':' in outputs[0:100]:
        outputs = outputs[outputs.index(':')+1:]
    outputs_replaced = outputs.replace('*', '')
    #.replace('\\n', ',')
    term_lines = [term_line.strip() for term_line in outputs_replaced.split('\n')]
    terms_from_lines = [term_line.split(',') for term_line in term_lines]
    terms = [term.strip() for term_line in terms_from_lines for term in term_line]
    print(f'terms: {terms}')
    original_terms = []
    for term in terms:
        if len(term.split(' ')) < 10: # longer terms are probably explanations
            if term.startswith('1. ') or term.startswith('2. ') or term.startswith('3. ') or term.startswith('4. ') or term.startswith('5. ') or term.startswith('6. ') or term.startswith('7. ') or term.startswith('8. ') or term.startswith('9. '):                
                term = term[3:]
            
            original_term = find_original_span(text, term, abbr)
            if len(original_term) > 0 and original_term[0]['start_idx'] > -1:
                original_terms.extend(original_term)
    
    #todo: handle nested entities
    return unique_occurences(original_terms)

In [57]:
df_sentences = pd.read_csv('../MedMentions-master/MedMentions-master/st21pv_test_sentences_tokens_combined.tsv', sep='\t', header=0)
df_sentences.head()

,doc_id,sentence_id,sentence,sentence_doc_start,sentence_doc_end,sentence_starts,tokens
0,25847295,0,Nonylphenol diethoxylate inhibits apoptosis in...,0,513,"[0, 66, 259, 340]","[{'text': 'Nonylphenol', 'start_char': 0, 'end..."
1,25847295,1,Nonylphenol diethoxylate itself showed no toxi...,514,1215,"[0, 96, 197, 540]","[{'text': 'Nonylphenol', 'start_char': 0, 'end..."
2,25847295,2,The difference in structure of the two compoun...,1216,1598,"[0, 104, 315]","[{'text': 'The', 'start_char': 0, 'end_char': ..."
3,26876532,0,EZH2 and ZFX oncogenes in malignant behaviour ...,0,426,"[0, 71, 221, 355]","[{'text': 'EZH2', 'start_char': 0, 'end_char':..."
4,26876532,1,"On one hand, this result raised the hypothesis...",427,1016,"[0, 218, 400, 488]","[{'text': 'On', 'start_char': 0, 'end_char': 2..."

In [58]:
texts = list(df_sentences['sentence'].values)

In [59]:
from ast import literal_eval
df_sentences['tokens'] = df_sentences['tokens'].apply(literal_eval)

In [ ]:
result_original = []

for text, outputs in zip(texts, result_outputs):    
    terms = convert_output_from_comma_list(text, outputs)
    result_original.append(terms)
    
    #combined = []
    #for output in outputs:
    #    combined += convert_output_from_comma_list(text, output)
    #result_original.append(combined)

In [52]:
len(result_original)

2691

In [53]:
df_small_results = pd.DataFrame({'outputs': result_outputs, 'original': result_original}) #, 'medical_term': result_medical_terms})
df_small_results.head(30)

,outputs,original
0,Here is the list of medical terms in the origi...,"[{'start_idx': 0, 'end_idx': 11, 'term': 'Nony..."
1,Here is the list of medical terms in the origi...,"[{'start_idx': 0, 'end_idx': 24, 'term': 'Nony..."
2,Here is the list of medical terms in the origi...,"[{'start_idx': 18, 'end_idx': 27, 'term': 'str..."
3,Here is the list of medical terms in the origi...,"[{'start_idx': 0, 'end_idx': 4, 'term': 'EZH2'..."
4,Here is the list of medical terms in the origi...,"[{'start_idx': 58, 'end_idx': 67, 'term': 'onc..."
5,Here is the list of medical terms in the origi...,"[{'start_idx': 25, 'end_idx': 29, 'term': 'EZH..."
6,Here is the list of medical terms in the origi...,"[{'start_idx': 0, 'end_idx': 7, 'term': 'Patie..."
7,Here is the list of medical terms in the origi...,"[{'start_idx': 0, 'end_idx': 11, 'term': 'Disc..."
8,Here is the list of medical terms in the origi...,"[{'start_idx': 30, 'end_idx': 33, 'term': 'PGA..."
9,Here is the list of medical terms in the origi...,"[{'start_idx': 0, 'end_idx': 11, 'term': 'Disc..."
10,Here is the list of medical terms in the origi...,"[{'start_idx': 63, 'end_idx': 81, 'term': 'Ora..."
11,Here is the list of medical terms in the origi...,"[{'start_idx': 114, 'end_idx': 127, 'term': 'd..."
12,Here is the list of medical terms in the origi...,"[{'start_idx': 0, 'end_idx': 20, 'term': 'Adve..."
13,Here is the list of medical terms in the origi...,"[{'start_idx': 0, 'end_idx': 10, 'term': 'Mali..."
14,Here is the list of medical terms in the origi...,"[{'start_idx': 219, 'end_idx': 222, 'term': 'A..."
15,Here is the list of medical terms in the origi...,"[{'start_idx': 13, 'end_idx': 29, 'term': 'ult..."
16,Here is the list of medical terms in the origi...,"[{'start_idx': 82, 'end_idx': 96, 'term': 'his..."
17,Here is the list of medical terms in the origi...,"[{'start_idx': 10, 'end_idx': 18, 'term': 'cof..."
18,Here is the list of medical terms in the origi...,"[{'start_idx': 22, 'end_idx': 30, 'term': 'cof..."
19,Here is the list of medical terms in the origi...,"[{'start_idx': 15, 'end_idx': 20, 'term': 'H19..."
20,Here is the list of medical terms in the origi...,"[{'start_idx': 33, 'end_idx': 56, 'term': 'car..."
21,Here is the list of medical terms in the origi...,"[{'start_idx': 117, 'end_idx': 136, 'term': 'a..."
22,Here is the list of medical terms in the origi...,"[{'start_idx': 0, 'end_idx': 9, 'term': 'Hemat..."
23,Here is the list of medical terms in the origi...,"[{'start_idx': 5, 'end_idx': 13, 'term': 'infr..."
24,Here is the list of medical terms in the origi...,"[{'start_idx': 19, 'end_idx': 31, 'term': 'ven..."
25,Here is the list of medical terms in the origi...,"[{'start_idx': 60, 'end_idx': 72, 'term': 'ven..."
26,Here is the list of medical terms in the origi...,"[{'start_idx': 9, 'end_idx': 32, 'term': 'Neph..."
27,Here is the list of medical terms in the origi...,"[{'start_idx': 0, 'end_idx': 37, 'term': 'Mult..."
28,Here is the list of medical terms in the origi...,"[{'start_idx': 17, 'end_idx': 28, 'term': 'nep..."
29,Here is the list of medical terms in the origi...,"[{'start_idx': 313, 'end_idx': 354, 'term': 'N..."

In [54]:
df_outputs = df_small_results

In [60]:
df_subset = df_sentences#[0:1221] #.tail(600)

In [61]:
df_outputs['sentence'] = list(df_subset['sentence'].values)

In [62]:
df_outputs.head()

,outputs,original,sentence
0,Here is the list of medical terms in the origi...,"[{'start_idx': 0, 'end_idx': 11, 'term': 'Nony...",Nonylphenol diethoxylate inhibits apoptosis in...
1,Here is the list of medical terms in the origi...,"[{'start_idx': 0, 'end_idx': 24, 'term': 'Nony...",Nonylphenol diethoxylate itself showed no toxi...
2,Here is the list of medical terms in the origi...,"[{'start_idx': 18, 'end_idx': 27, 'term': 'str...",The difference in structure of the two compoun...
3,Here is the list of medical terms in the origi...,"[{'start_idx': 0, 'end_idx': 4, 'term': 'EZH2'...",EZH2 and ZFX oncogenes in malignant behaviour ...
4,Here is the list of medical terms in the origi...,"[{'start_idx': 58, 'end_idx': 67, 'term': 'onc...","On one hand, this result raised the hypothesis..."

In [63]:
df_outputs['entities'] = df_outputs['original']

In [35]:
#for index, row in df_outputs.iterrows():
#    text = row['sentence']
#    outputs = row['outputs']
#    entities = convert_output_from_comma_list(text, outputs)
#    df_outputs.at[index, 'entities'] = entities

In [ ]:
#document_id	sentence_id	doc_start_index	doc_end_index	
#sentence_entity_start	sentence_entity_end	text_segment	semantic_type_id	entity_id
#doc_id	sentence_id	sentence	sentence_doc_start	sentence_doc_end	tokens

In [64]:
df_outputs['document_id'] = list(df_subset['doc_id'].values)

In [65]:
df_outputs['sentence_id'] = list(df_subset['sentence_id'].values)

In [66]:
df_outputs['doc_start_index'] = list(df_subset['sentence_doc_start'].values)
df_outputs['doc_end_index'] = list(df_subset['sentence_doc_end'].values)

In [67]:
df_outputs.head()

,outputs,original,sentence,entities,document_id,sentence_id,doc_start_index,doc_end_index
0,Here is the list of medical terms in the origi...,"[{'start_idx': 0, 'end_idx': 11, 'term': 'Nony...",Nonylphenol diethoxylate inhibits apoptosis in...,"[{'start_idx': 0, 'end_idx': 11, 'term': 'Nony...",25847295,0,0,513
1,Here is the list of medical terms in the origi...,"[{'start_idx': 0, 'end_idx': 24, 'term': 'Nony...",Nonylphenol diethoxylate itself showed no toxi...,"[{'start_idx': 0, 'end_idx': 24, 'term': 'Nony...",25847295,1,514,1215
2,Here is the list of medical terms in the origi...,"[{'start_idx': 18, 'end_idx': 27, 'term': 'str...",The difference in structure of the two compoun...,"[{'start_idx': 18, 'end_idx': 27, 'term': 'str...",25847295,2,1216,1598
3,Here is the list of medical terms in the origi...,"[{'start_idx': 0, 'end_idx': 4, 'term': 'EZH2'...",EZH2 and ZFX oncogenes in malignant behaviour ...,"[{'start_idx': 0, 'end_idx': 4, 'term': 'EZH2'...",26876532,0,0,426
4,Here is the list of medical terms in the origi...,"[{'start_idx': 58, 'end_idx': 67, 'term': 'onc...","On one hand, this result raised the hypothesis...","[{'start_idx': 58, 'end_idx': 67, 'term': 'onc...",26876532,1,427,1016

In [ ]:
#df_outputs['original'] = df_outputs['original'].apply(literal_eval)
#df_outputs['entities'] = df_outputs['entities'].apply(literal_eval)

In [68]:
result_entities = []
for index, row in df_outputs.iterrows():
    for entity in row['entities']:
        if entity['start_idx'] > 0:
            result_entities.append({
                "document_id": row["document_id"],
                "sentence_id": row["sentence_id"],
                "doc_start_index": row["doc_start_index"],
                "doc_end_index": row["doc_end_index"],
                "sentence_entity_start": entity["start_idx"],
                "sentence_entity_end": entity["end_idx"],
                "text_segment": entity["term"]
            })

In [69]:
df_result_entities = pd.DataFrame(result_entities)
df_result_entities.head()

,document_id,sentence_id,doc_start_index,doc_end_index,sentence_entity_start,sentence_entity_end,text_segment
0,25847295,0,0,513,66,77,Nonylphenol
1,25847295,0,0,513,94,105,nonylphenol
2,25847295,0,0,513,370,381,nonylphenol
3,25847295,0,0,513,12,24,diethoxylate
4,25847295,0,0,513,382,394,diethoxylate

In [ ]:
# todo: remove overlaps

In [70]:
df_result_entities.to_csv('st21pv_test_0928v1llama13b_entities_nofuzzy.tsv', sep='\t', index=False)